.header-nav {
  display: inline-flex;
  height: 100%;

  & > * > a {
    color: $white;
    display: block;
    font-size: rem(15);
    font-weight: $font-bold;
    line-height: rem($header-height);
    padding: rem(0 16);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background: lighten($blue-500, 7%);
    }
  }
}